* { 
    box-sizing: border-box; 
} 

#calculatorWrapper {
    display:flex;
    flex-wrap: wrap; /* need this to force other siblings to wrap to other rows (besides first row of results and cancel button) */
    width:600px;
}

#topSection {
    flex: 1;
    display:flex;
}

#resultSection {
    flex-basis: 75%;
    display:inline;
}

#cancel {
    flex-basis: 25%;
}

#buttonsSection {
    display:flex;
    flex-wrap:wrap;
    flex-basis:100%;
}

.btn {
    flex-basis: 25%;
}

body *{
    border: 0.5px solid black;

    }