* { 
    box-sizing: border-box; 
} 

#calculatorWrapper {
    display:flex;
    flex-wrap: wrap; /* need this to force other siblings to wrap to other rows (besides first row of results and cancel button) */
    width:600px;
}

#topSection {
    flex: 1; /*equivalent to flex-grow:1; flex-shrink:1; flex-basis:0;*/
    display:flex;
}

#resultSection {
    flex-basis: 75%;
    /* display:inline; */
}

#cancel {
    flex-basis: 25%;
}

#buttonsSection {
    display:flex;
    flex-wrap:wrap;
    flex-basis:100%; /* NEED this to enforce the calculator UI*/
}

.btn {
    flex-basis: 25%;
}

body *{
    border: 0.5px solid black;

    }

/*
LOGIC TO UNDERSTAND YOUR CALCULATOR STRUCTURE (SELF NOTE): you have an overarching flexbox. This is indicated by the div with id='calculatorWrapper'. For each div/element you create within this container, because of how you've specified the flex-grow/shrink options (either by default, or directly specifying), each div will take up equal spacing. 

Hence why for the busttonsSection div, you need to have flex-basis:100% to force it to have a starting width of the calculatorWrapper parent. 

The second div within your first container contains the buttons. This is also a flexbox itself. Similarly, the topSection div is also a flexbox; you essentially have two flexboxes within a flexbox. 

The combination of flex-wrap:wrap and everything else together enforces the shape and display of the calculator. Using flex is better than hardcoding the widths of each element. The only spot you would need to change/hard code is the initial width of the calculator itself, with the div with id='calculatorWrapper'
*/